/* flex-布局 */
.d-flex
  display flex
.flex-1
  flex 1
.f-d-col
  flex-direction column
.jc
  justify-content center
.aic
  align-items center

/* 文字布局 */
.text-cen
  text-align center
.text-left
  text-align left
.text-right
  text-align right

/* 大小 */
.w-auto
  width auto
.h100v
  height 100vh
.h100
  height 100%
.w300p
  width 3rem
.w500p
  width 5rem
.w700p
  width 7rem
.w800p
  width 8rem
.w900p
  width 9rem

/* 边距 */
.mar-bot-10
  margin-bottom .1rem
.mar-bot-20
  margin-bottom .2rem
.mar-top-10
  margin-top .1rem
.mar-top-20
  margin-top .2rem
.mar-tAb-20
  margin-top .2rem
  margin-bottom .2rem
.mar-tAb-5
  margin-top 0.05rem
  margin-bottom 0.05rem

/* 通用布局 */
.overflow-h
  overflow hidden

/* 文字颜色 */
.font-red
  color red

/* 文字大小 */

.f12
  font-size .12rem
.f14
  font-size .14rem
.f16
  font-size .16rem
.f18
  font-size .18rem

/* 通用文字样式 */
.f12-gray
  font-size .12rem
  color gray

/* 公共类名 */
.component-des-box
  font-size .18rem
  color #000
  margin-bottom .2rem
  .component-des
    font-size .2rem
    color #000
    font-weight: 500
    margin-bottom .2rem

.ul-li-mar-tAb-5,.ul-li-tb-5
  li
    margin 5px 0