.d-flex
  display flex
.f-d-col
  flex-direction column
.jc
  justify-content center
.aic
  align-items center
.text-cen
  text-align center
.text-left
  text-align left
.text-right
  text-align right
.w-auto
  width 100%



.font-red
  color red

.f12
  font-size .12rem
.f12-gray
  font-size .12rem
  color gray


// .img-gif
//   size 100px